body{
    background-color: #92dce5;
}

.content-box{
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

.content-area{
    width: 20%;
    float: left;
    margin: 0;
}